
<section class="menu">


    <div class="parent">
        <div class="div1">
            <h3>Dinero Total</h3>
            <div class="dinero" style = "display: flex; align-items: center; gap: 10px">
                <p> $ <span id="monto_total"><%= ('%.2f' % ((@dinero_total || 0) / 100.0)) %></span></p>
                <button id="toggle">ocultar</button>
            </div>
            <h3>Dinero Disponible</h3>
            <div class="dinero">
                <p> $ <span id="monto"><%= (@user.account.total_balance || 0) / 100.0 %></span></p>
            </div>
            <div class="acciones">
                <div class="fila">
                <form action="/transfer" method="get">
                    <button type="submit">Transferir dinero</button>
                </form>
                <form action="/insert_money" method="get">
                    <button type="submit"> Ingresar dinero</button>
                </form>
                </div>
                <div class="fila">
                <form action="/service" method="get">
                    <button type="submit"> Pagar servicio</button>
                </form>
                <form action="/pigs" method="get">
                    <button type="submit"> Chanchitos</button>
                </form>
                </div>
            </div>    
        </div>
        <div class="div2">
            <h3>Tarjeta</h3>
            <div class="tarjeta">
                <p class="tarjeta-no"><%= @user.account.card.no_card %></p>
                <div class="tarjeta-info">
                    <p><strong>Vto:</strong> <%= @user.account.card.exp_date %></p>
                    <p><strong>CVV:</strong> <%= @user.account.card.cvv %></p>
                </div>
            <p class="tarjeta-holder"><%= @user.account.card.holder_name %></p>
            </div>
        </div>
      
        <div class="div3">
            <h3>Últimos Movimientos</h3>
            <div class="movimientos">
                <ul class="ultmov">
                <% @last_transactions.each do |tx| %>
                    <% if tx.transaction_type.to_s == 'deposito' %>
                        <li>
                            <strong><%= tx.date %></strong>
                            <span class="ingresos">Depósito</span>
                            +$<%= ('%.2f' % (tx.value / 100.0)) %>
                        </li>
                        <% elsif tx.source_account_id == @user.account.id %>
                        <li>
                            <strong><%= tx.date %></strong>
                            <span class="egresos"><%= tx.transaction_type.to_s.tr('_', ' ').split.map(&:capitalize).join(' ') %></span>
                            -$<%= ('%.2f' % (tx.value / 100.0)) %>
                        </li>
                        <% elsif tx.target_account_id == @user.account.id %>
                        <li>
                            <strong><%= tx.date %></strong>
                            <span class="ingresos"><%= tx.transaction_type.to_s.tr('_', ' ').split.map(&:capitalize).join(' ') %></span>
                            +$<%= ('%.2f' % (tx.value / 100.0)) %>
                        </li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const boton = document.getElementById("toggle");
    const monto = document.getElementById("monto");
    const montoTotal = document.getElementById("monto_total");

    const valorReal = monto.textContent;
    const valorTotalReal = montoTotal.textContent;
    let oculto = false;

    boton.addEventListener("click", () => {
      oculto = !oculto;
      monto.textContent = oculto ? "****" : valorReal;
      montoTotal.textContent = oculto ? "****" : valorTotalReal;
      boton.textContent = oculto ? "mostrar" : "ocultar";
    });
  });
</script>
