
<section class="menu">

    <div class="parent">
        <div class="div1">
            <h3>Dinero Disponible</h3>
            <div class="dinero">
                <p> $ <span id="monto"><%= (@user.account.total_balance || 0) / 100.0 %></span></p>
                <button id="toggle">ocultar</button>
            </div>
            <div class="acciones">
                <form action="/transfer" method="get">
                    <button type="submit">Transferir dinero</button>
                </form>
                <form action="/insert_money" method="get">
                    <button type="submit"> Ingresar dinero</button>
                </form>
            </div>    
        </div>
  
        <div class="div2">
            <h3>Tarjeta</h3>
        </div>
        <div class="div3">
            <h3>Últimos Movimientos</h3>
            <div class="movimientos">
                <ul class="ultmov">
                    <% @last_transactions.each do |tx| %>
                        <% if tx.source_account_id == @user.account.id %>
                        <li>
                            <strong><%= tx.date %></strong> <span class="egresos"><%= tx.transaction_type.to_s.tr('_', ' ').split.map(&:capitalize).join(' ') %></span> -$<%= ('%.2f' % (tx.value / 100.0)) %>

                        </li>
                        <% elsif tx.target_account_id == @user.account.id%>
                        <li>
                            <strong><%= tx.date %></strong> <span class="ingresos"><%= tx.transaction_type.to_s.tr('_', ' ').split.map(&:capitalize).join(' ') %></span> <%= ('%.2f' % (tx.value / 100.0)) %>
                        </li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const boton = document.getElementById("toggle");
    const monto = document.getElementById("monto");

    const valorReal = monto.textContent;
    let oculto = false;

    boton.addEventListener("click", () => {
      oculto = !oculto;
      monto.textContent = oculto ? "****" : valorReal;
      boton.textContent = oculto ? "mostrar" : "ocultar";
    });
  });
</script>
